# The primary LLM to use
# Options are gpt-3.5-turbo, gpt-4, bard, bert
# The Bert class has not been written yet

DEFAULT_MODEL=gpt-3.5-turbo

# You need an OpenAI key in order to use GPT3.5, GT4 and DallE

OPENAI_API_KEY=

LLM_TEMPERATURE = default 0.7

# MEMORY_STORE - Memory backend type (Default: local)
# Options are local, redis, mongodb, pinecone

MEMORY_STORE=redis

# Redis connection settings
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

# Mongo Connection string
# format is mongodb+srv://[username:password]@[host][:port]/[defaultauthdb]?[options]
MONGO_URL=

# Pinecone

PINECONE_API_KEY=


# Github settings fr the Github plugin

GITHUB_API_KEY=
GITHUB_USERNAME=

# Google search settings

GOOGLE_API_KEY=
GOOGLE_SEARCH_ENGINE_ID=

#Huggingface
HUGGINGFACE_TOKEN=
