body {
  font-family: sans-serif;
  height: 100vh;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.tabs {
  position: relative;
  background: #011c9c;
  height: 14.75rem;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #011c9c;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  width: 100%;
  height: 90vh;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}


#scrollBox {
  width: 100%;
  height: 72%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow-y: auto;
}

#top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

#chatBox {
  width: 70%;
  border: 1px solid black;
  padding: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

#chatThread > li {
  padding: 0.5rem 1rem;
  display: flex;
}

#chatThread > li:nth-child(odd) {
  background: #efefef;
}

#filesBox {
  width: 30%;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  overflow-y: auto;
}

#filesText {
  margin-top: auto;
}

#inputBox {
  width: 100%;
  height: 18%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #fff;
  border-radius: 1rem;
}

#inputSpace, #checkSpace, #radioSpace {
  width: 90%;
  height: 60px;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 1rem;
  margin: 0.25rem;
}

#checkSpace, #radioSpace {
  display: none;
}

#submit {
  width: 100px;
  height: 20px;
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#runBox {
  width: 100%;
  height: 4%;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#getApproval {
  font-size: 18px;
  font-weight: bold;
}

#continuous {
  margin-right: 10px;
}

#stepsBox {
  display: flex;
  margin-left: 10px;
}

#steps {
  margin-right: 10px;
  margin-left: 10px;
}

#stepSubmit {
  background: #fff;
  border: 1px solid #333;
  color: #333;
  padding: 5px;
  margin-left: 5px;
  border-radius: 3px;
}
